{% extends 'base.html.twig' %}

{% block title %} Page quartier{% endblock %}

{% block body %}
    <h1 style="text-align: center;">{{ message }}</h1>

    <div class="button-container">
       
        <a href="{{ path('app_quartier_show_all') }}" class="btn btn-secondary"> Quartier</a>
    </div>

    <style>
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap: 15px; /* espace entre les boutons */
        }
        

        .btn {
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
        }

        .btn-secondary {
            background-color: #6c757d;
        }

        .btn:hover {
            opacity: 0.9;
        }
    </style>
{% endblock %}
