{% extends 'base.html.twig' %}

{% block title %}Lampadaires{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Lampadaires Management</h1>
        {% block content %}{% endblock %}
    </div>
{% endblock %}