{# templates/hello_world/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
    <h1>{{ message }}</h1>
    <p>bla blaa blaa </p>
{% endblock %}