{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Login</h1>

{% if error %}
    <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form method="post">
    <div>
        <label for="username">Email</label>
        <input type="email" id="username" name="_username" value="{{ last_username }}" required autofocus />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" required />
    </div>

    <div>
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>
{% endblock %}
