.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pagination span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--primary);
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination > li > a,
.pagination > li > span {
    color: var(--primary);
    box-shadow: none !important;
}

.pagination > .active > span {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-inverse);
}

.pagination.custom-pagination-style-1 .page-item .page-link {
    border: 2px solid #999999;
    box-sizing: content-box;
    color: #999999;
    background: transparent;
}

.pagination.custom-pagination-style-1 .page-item.active .page-link, 
.pagination.custom-pagination-style-1 .page-item:hover .page-link {
    border-color: var(--primary);
    background-color: var(--primary) !important;
    color: var(--light);
}

.pagination.pagination-rounded .page-item {
    margin-right: 8px;
    margin-right: .5rem;
}

.pagination.pagination-rounded .page-link {
    border-radius: 50% !important;
    padding: 0;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
