<form method="post" action="{{ path('document_delete', {'id': document.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
